* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Alata";
    src: url("assets/Alata-Regular.ttf");
}

:root {
    --bg-color-main: #1f2937;
    --bg-color-sidebar: #111827;
    --header-border-color: #eed9c3;
    --text-color: #e5e7eb;
    --selected: #0f766e;

    background-color: var(--bg-color-main);
    font-family: "Alata";
    font-size: 16px;
    color: var(--text-color);
}

body {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 320px 1fr;
    height: 100vh;
    cursor: default;
}

h1 {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--header-border-color);   
    font-size: 3rem;
    font-weight: 900;
}

.sidebar-container {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
    font-size: 1.5rem;
    background-color: var(--bg-color-sidebar);
}

.sidebar-container h2 {
    border-bottom: 2px solid var(--header-border-color);
    font-size: 2rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 15px;
}

.inner-container > div {
    padding: 2px 5px;
}

.inner-container > div:not(.home-inner-container-clicked):hover {
    background-color: var(--bg-color-main);
    cursor: pointer;
    border-radius: 5px;
}

.inner-container-clicked {
    background-color: var(--selected);
    cursor: default;
    border-radius: 5px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-container {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.todo-item-container {
    position: relative;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 5px 10px;
}

.todo-item-container:hover {
    background-color: var(--bg-color-sidebar);
    cursor: pointer;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container > p:nth-child(1) {
    font-size: 1.5rem;
}

.right-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    gap: 15px;
    font-size: 1.2rem;
}

.right-inner-container img {
    height: 1.2rem;
    width: 1.2rem;
}